{% comment %}inherits the structure of a parent template, block names must match {% endcomment %}
{% extends "base.html" %}

{% comment %} defines content to replace a block in the parent template {% endcomment %}
{% block content %}
<h1>VARIABLE PAGE</h1>
    <H2>{{first_name|capfirst}} {{last_name|capfirst}}</H2>
    <h2>{{some_list.1}}</h2>
    <h2>{{some_dict.inside_key}}</h2>
    <h2>{{list_with_spaces|cut:' '}}</h2>
    
    {% comment %} Django tags {% endcomment %}
    <h1>Django Tags</h1>
    {% comment %} Looping a List {% endcomment %}
    <ul>
    {% for num in some_list %}
        <li>{{num}}</li>
    {% endfor %}
    </ul>

    {% comment %} Looping a Dictionary {% endcomment %}
    {% for key,value in some_dict.items %}
        <h1>{{key}} {{value}}</h1>
    {% endfor %}

    {% comment %} for loop and if else {% endcomment %}
    <ul>
    {% for num in some_list %}
    {% if num == 2  %}
    <li>Two</li>
    {% else %}
    <li>{{num}}</li>
    {% endif %}
    {% endfor %}
    </ul>
{% endblock content %}