{% comment %} html template includes things like navebar footer sitemap  {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} structure of template the block is inserted between the nav and fotter in the below case. {% endcomment %}
    <h1>This is a navbar</h1>
    {% block content %}
    {% endblock content %}
    <h1>This is a footer</h1>
</body>
</html>